/* ============== icons in the search input ============== */
#myKeyboard {
  margin: auto 0 auto -80px;
  z-index: 200;
}

#myImageKeyboard {
  margin: auto 0 auto -105px;
  z-index: 200;
}

#myMic,
#myCamera,
#mySearch {
  margin: auto 0 auto 10px;
}
#myMic {
  z-index: 201;
}
#myCamera {
  z-index: 202;
}
/* ================== additional image search icon for the pic page input ================== */
#mySearch {
  z-index: 203;
}
/* ============================================= */
.google-like {
  font-size: 13px;
}
.col {
  margin-top: 1em;
  text-align: right;
}
.google-like li {
  display: inline;
  padding: 0.5em 1.5em;
}
.google-like li a {
  color: rgba(0, 0, 0, 0.87);
}

h1 {
  text-align: center;
}
.pictures-span {
  display: block;
  float: right;
  font-size: 15px;
  margin-top: -3em;
}
.blue_letter,
.pictures-span {
  color: #4284f7;
}
.red_letter {
  color: #ef4239;
}
.yellow_letter {
  color: #ffbd08;
}
.green_letter {
  color: #31ab52;
}
#theDoodle {
  font-size: 380%;
  font-weight: 600;
  letter-spacing: -3px;
  margin: 3.2em auto 0.8em auto;
  transform: scale(1.5, 1.5);
  width: 67%;
}
#input-search {
  border-left: none;
  border-radius: 0 1em 1em 0;
  width: 85%;
}
#looking-glass span {
  border-radius: 1em 0 0 1em;
}
#input-search:focus {
  background-color: #fff;
  border-color: #ced4da;
  box-shadow: none;
  color: #495057;
  outline: 0;
}
/* =========================== advanced_search page ========================== */
#adv_search_page {
  font-family: arial, sans-serif;
}

label.advSearch {
  font-size: 12px;
}

div.divLabel,
div.divInput,
div.divButton,
div.divSpan {
  line-height: 16px;
  min-width: 167px;
}

div.divInput,
div.divButton {
  vertical-align: middle;
  width: 36%;
}

div.divLabel {
  display: inline-block;
  vertical-align: middle;
  width: 16%;
}

div.divInput,
div.divButton {
  display: inline-block;
  min-height: 41px;
}

div.divButton {
  text-align: right;
}

div.divSpan {
  color: #555555;
  float: right;
  font-size: 11px;
  padding-left: 5px;
  width: 46%;
}
#myInputs {
  padding-left: 10px;
}

#advSearchHeading {
  color: #d93025;
  font-size: 20px;
  margin: 20px 10px;
}

#smallDoodle {
  padding: 20px;
}

#myInputs input {
  border: 1px solid #d9d9d9;
  border-radius: 1px;
  font-size: 13px;
  height: 25px;
  padding: 1px 8px;
  text-align: left;
  width: 100%;
}

input#button-submit {
  height: 30px;
  line-height: 100%;
  margin: 20px 5px;
  min-width: 120px;
  text-align: center;
  width: 130px;
}